@import "./scss//variable";
@import "./scss/mixins";

@include responsive_320 {
  .siderStyle {
    display: none;
  }
  .headerStyle {
    @include headerCommon;
  }
  .menuIcon {
    color: $white;
    font-size: 24px;
  }
}

@include responsive_375 {
  .siderStyle {
    display: none;
  }
  .headerStyle {
    @include headerCommon;
  }
  .menuIcon {
    color: $white;
    font-size: 26px;
  }
}

@include responsive_768 {
  .siderStyle {
    display: none;
  }
  .headerStyle {
    @include headerCommon;
  }
  .menuIcon {
    color: $white;
    font-size: 26px;
  }
}

@include responsive_1024 {
  .siderStyle {
    display: flex !important;
    color: white;
    height: 100vh;
    position: fixed !important;
    left: 0;
    top: 0;
    bottom: 0;
  }
  .headerStyle {
    display: none;
  }
}

.container {
  height: 100%;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
}

.imageProfile {
  border-radius: 50% !important;
}

.wrapMenu {
  width: 100%;
  margin-top: 30px;
}
