@import "../../../../../src/scss/variable";
@import "../../../../../src/scss/mixins";

.container {
  @include styleCommon;
}

.wrap {
  padding: 20px 50px 50px 50px;
  h2 {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
  }
  div {
    p {
      font-size: 18px;
      font-weight: 400;
    }
  }
}
