@import "../../../../../src/scss/variable";
@import "../../../../../src/scss/mixins";

.container {
  @include styleCommon;
}

@include responsive_1024 {
  .wrapIntro {
    padding: 50px;
  }
}

@include responsive_375 {
  .wrapIntro {
    padding: 30px;
  }
}

.wrapFullName {
  font-size: 50px;
  font-weight: 700;
  color: #293651;
  margin-top: 20px;
}

.nameOfCompany {
  color: $colorMain;
}

.name:hover {
  color: $colorMain;
}

.myCard {
  font-size: 22px;
}

.intro {
  font-size: 30px;
  font-weight: 600;
  color: $colorMain;
  letter-spacing: 4px;
}

@-webkit-keyframes my {
  0% {
    color: $colorMain;
  }
  50% {
    color: #fff;
  }
  100% {
    color: $colorMain;
  }
}
@-moz-keyframes my {
  0% {
    color: $colorMain;
  }
  50% {
    color: #fff;
  }
  100% {
    color: $colorMain;
  }
}
@-o-keyframes my {
  0% {
    color: $colorMain;
  }
  50% {
    color: #fff;
  }
  100% {
    color: $colorMain;
  }
}
@keyframes my {
  0% {
    color: $colorMain;
  }
  50% {
    color: #fff;
  }
  100% {
    color: $colorMain;
  }
}

.textAnimation {
  font-weight: bold;
  -webkit-animation: my 700ms infinite;
  -moz-animation: my 700ms infinite;
  -o-animation: my 700ms infinite;
  animation: my 700ms infinite;
  font-style: italic;
}

.textSkill {
  font-size: medium;
  font-weight: 400;
}
